<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="UnPont Development - Product Comparator">
    <meta name="author" content="@UnPont Development 2022">
    <link rel="icon" th:href="@{/media/unpont-icon.ico}">
    <title>Despre Noi</title>
</head>
<body>
<div layout:fragment="content" class="container text-center" >
    <main role="main" class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/despre}">Despre<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/termeni}">Termeni</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted"><img src="http://localhost:8085/media/Unpont-logo.png" height="90" width="300" style=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Product Comparator</h3>
        </div>
        <h1 style="text-align: center;"><span style="text-align: center; color: #0000ff;"><strong>Product comparator scris in Java</strong></span></h1>
        <p>&nbsp;</p>
        <p style="text-align: left;">Acesta este primul program scris de mine in Java folosind Spring Boot si a gramada de alte librarii, printer care pot enumera chrome driver, selenium, Jaunt si Jauntium.</p>
        <p style="text-align: left;">&nbsp;</p>
        <p style="text-align: left;">Am elaborat acest program in idea sa ma ajute in munca mea de zi cu zi, in care trebuie sa verific si sa fac update la produse aflate in baza de date, precum si sa adaug produse noi.</p>
        <p style="text-align: left;">&nbsp;</p>
        <p style="text-align: left;">Aplicatie este conceputa ca un "stand alone" program cu o interfata "user friendly" ce poate fi atasat unui site care e deja implementat, poate fi pusa pe un server si rulata de acolo sau poate fi rulata local - asa cum facem acum :) - pe un aparat ce are java instalat.</p>
        <p style="text-align: left;">&nbsp;</p>
        <p style="text-align: left;">Comparatorul ofera user-ului mai multe optiuni:<br />1. Cautarea online in siteuri externe a produselor dorite pe baza unei suite de cuvinte cheie.</p>
        <p style="text-align: left;">2. Afisarea si sortarea produselor existente in baza de date, pentru a reduce timpul de lucru.</p>
        <p style="text-align: left;">3. Filtrarea produselor din baza de date pe baza unei suite de cuvinte cheie</p>
        <p style="text-align: left;">4. Exportul listei filtrate in format csv.</p>
        <p style="text-align: left;">&nbsp;</p>
        <p style="text-align: left;">Sper ca acest program sa fie imbunatit si sa devina un tool - chiar si personal :) - care sa fie folositor.<br /><br /></p>
        <p style="text-align: left;">Andrei Chirila<br /><a href="mailto:">cjrocha.webs@gmail.com</a><br />Jr. Java developer&nbsp;</p>
    </main>
</div>
</body>
</html>