<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="UnPont Development - Product Comparator">
    <meta name="author" content="@UnPont Development 2022">
    <link rel="icon" th:href="@{/media/unpont-icon.ico}">
    <title>UnPont Dev - Comparator</title>
    <!-- Custom styles for this template -->
    <!-- <link href="carousel.css" rel="stylesheet"> -->
</head>
<body>
    <div layout:fragment="content" class="container" >
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/despre}">Despre<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/termeni}">Termeni</a>
                    </li>
                </ul>
            </nav>
        <h3 class="text-muted"><img src="http://localhost:8085/media/Unpont-logo.png" height="90" width="300" style=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Product Comparator</h3>
        </div>
        <section class="jumbotron text-center bg-warning bg-gradient">
            <div class="container">
                <h1 class="jumbotron-heading">Comparator de Produse</h1>
                <p class="lead text-dark">Dorim sa venim in ajutorul celor care cauta cel mai bun produs pe piata sau celor care vor sa afle cum evolueaza un produs dealungul timpului.<br/>
                    Din acest motiv am construit si va punem la dispozitie acest comparator de produse.<br/>
                    <em><span>Nu ezitati sa-l folositi!</span></em></p>
                <p>
                    <a th:href="@{/login}" class="btn btn-primary my-2">Login</a>
                    <a th:href="@{/despre}" class="btn btn-secondary my-2">Cum Functioneaza</a>
                </p>
            </div>
        </section>

        <!-- Marketing messaging and featurettes
      ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">
            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Afla detalii acunse despre produsele tale preferate. <span class="text-muted">Multi retaileri ascund unele informatii</span></h2>
                    <p class="lead">Sistemul nostru de achizitie a datelor poate gasi informatii referitoare la produse, pe care unii retaileri prefera sa le ascunda in prezentarile produselor ce sunt vandute.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" data-src="http://localhost:8085/media/img1.png" alt="500x500" style="width: 500px; height: 500px;" src="http://localhost:8085/media/img1.png" data-holder-rendered="true">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Poti compara datele unui singur produs. <span class="text-muted">Sau ale unei liste de produse.</span></h2>
                    <p class="lead">Programul nostru iti ofera posibilitatea de filtrare si sortare a datelor obtinute.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" data-src="http://localhost:8085/media/img2.png" alt="500x500" src="http://localhost:8085/media/img2.png" data-holder-rendered="true" style="width: 500px; height: 500px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Poti sa ceri cele mai actuale date ale produselor preferate. <span class="text-muted">Si poti sa-le compari cu date obtinute anterior.</span></h2>
                    <p class="lead">Iti usuram munca si vizitam noi site-urile pentru tine! Datele obtinute pot fi comparate cu datele obtinute anterior pentru acelasi produs.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" data-src="http://localhost:8085/media/img3.png" alt="500x500" src="http://localhost:8085/media/img3.png" data-holder-rendered="true" style="width: 500px; height: 500px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->
    </div>
</body>
</html>