<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="UnPont Development - Product Comparator">
    <meta name="author" content="@UnPont Development 2022">
    <link rel="icon" th:href="@{/media/unpont-icon.ico}">
    <title>UnPont Comparator</title>
</head>
<body>
<div sec:authorize="isAuthenticated()"layout:fragment="content" class="container text-center" >
    <main role="main" class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/despre}">Despre<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/termeni}">Termeni</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted"><img src="http://localhost:8085/media/Unpont-logo.png" height="90" width="300" style="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h3>

        </div>
        <h2>Formular de cautare</h2>
        <div class="row h-100 justify-content-center align-items-center">
            <p><em>Te rugam sa introduci cuvinte chei pentru cautare.</em></p>
            <p>Pentru un rezultat cat mai aproape de dorintele tale, te rugam sa fi cat se poate de specific in termenii folositi.<br/>
            Deasemenea nu folosii semne de punctuatie. Exemple de cuvinte cheie: </p>
            <ol>
                <li>Laptop Acer</li>
                <li>masina de gaurit electrica</li>
                <li>casti wireless samsung</li>
                <li>Televizor smart lg</li>
            </ol>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
                <form action="/main-comparator" method="post">
                    <div class="row mb-3">
                        <label for="cautaKey" class="col-sm-2 col-form-label"><strong>Cuvinte Cheie</strong></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="cautaKey" placeholder="masina de spalat vase" th:name="keyword" required>
                        </div>
                    </div>
                    <p><strong>Te rugam alege site-urile unde doresti sa faci cautarea:</strong></p>
                    <div class="row mb-3">
                        <div class="form-check-inline">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <em>Site-uri disponibile: </em>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" value="true" th:name="altex" type="checkbox" id="altex">
                                <input class="form-check-input" value="false" th:name="altex" type="hidden" id="altex">
                                <label class="form-check-label" for="altex">
                                    Altex.ro
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" value="true" th:name="flanco" type="checkbox" id="flanco">
                                <input class="form-check-input" value="false" th:name="flanco" type="hidden" id="flanco">
                                <label class="form-check-label" for="flanco">
                                    Flanco.ro
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" value="true" th:name="emag" type="checkbox" id="emag">
                                <input class="form-check-input" value="false" th:name="emag" type="hidden" id="emag">
                                <label class="form-check-label" for="emag">
                                    Emag.ro
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" value="true" th:name="vivre" type="checkbox" id="vivre">
                                <input class="form-check-input" value="false" th:name="vivre" type="hidden" id="vivre">
                                <label class="form-check-label" for="vivre">
                                    Vivre.ro
                                </label>
                            </div>
                        </div>
                    </div>
                    <button id="cauta" type="submit" class="btn btn-primary" value="cauta">Cauta</button>
                </form>
            </div>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div class="row h-100 justify-content-center align-items-center p-3 mb-2 bg-warning text-dark">
            <div class="text">
                <h4>In cazul in care esti grabit sau nu vrei sa astepti pana motoarele noastre de cautare isi fac treaba<br />
                si vrei sa consulti datele produselor ce se afla in baza noastra de date facand o filtrare dupa un cuvant cheie</h4>
                <p><strong>Te putem ajuta cu acest motor de cautare in baza de date proprie:</strong><br />
                te rugam introdu un cuvant (sau mai multe) semnificativ pentru ceea ce cauti in campul de mai jos:</p>
            </div>
            <form action="/search-results" method="get">
                <div class="row mb-3">
                    <label for="cheie-cautare" class="col-sm-2 col-form-label"><strong>Caut: </strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="cheie-cautare" placeholder="Ce cauti? Fii cat mai specific!" th:name="search-keyword" required>
                    </div>
                </div>
                <button id="cheiecautare" type="submit" class="btn btn-primary" value="cautakey">Caut acum!</button>
            </form>
        </div>
    </main>
</div>
</body>
</html>