<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="UnPont Development - Product Comparator">
    <meta name="author" content="@UnPont Development 2022">
    <link rel="icon" th:href="@{/media/unpont-icon.ico}">
    <title>UnPont Comparator</title>
<!--    <style>
		.loader {
			display: none;
			top: 50%;
			left: 50%;
			position: absolute;
			transform: translate(-50%, -50%);
			text-align: center;
			}

		.loading {
			border: 20px solid #ccc;
			width: 120px;
			height: 120px;
			border-radius: 50%;
			border-top-color: #1ecd97;
			border-left-color: #1ecd97;
			text-align: center;
			animation: spin 2s infinite ease-in;
		}

		@keyframes spin {
			0% {transform: rotate(0deg);}
			100% {transform: rotate(360deg);}
		}
	</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
	var myVar;
	function showLoader() {
		document.getElementsByClassName("loader")[0].style.display = "block";
		myVar = setTimeout(spinner, 10000);
	}
    function spinner() {
        document.getElementsByClassName("loader")[0].style.display = "none";
		document.getElementsByClassName("ready")[0].style.display = "block";
    }
    </script>

    <script type="text/javascript">
    function setImageVisible(id, visible) {
        var img = document.getElementById(id);
        img.style.display = (block ? 'display' : 'none');
    }
    </script>
-->
</head>
<body>
<div sec:authorize="!isAuthenticated()"layout:fragment="content" class="container text-center" >
    <main role="main" class="container">
    <h2>Pentru a accesa aceasta pagina trebuie sa fi inregistrat!</h2>
    <h3>Acceseaza pagina de <a href="/login">login</a> sau pagina de <a href="/register">inregistrare</a>, daca nu esti inca membru.</h3>
    </main>
</div>
<div sec:authorize="isAuthenticated()"layout:fragment="content" class="container text-center" >
    <main role="main" class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/despre}">Despre<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/termeni}">Termeni</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted"><img src="http://localhost:8085/media/Unpont-logo.png" height="90" width="300" style=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Product Comparator</h3>
        </div>
        <h2>Formular de cautare</h2>
        <div class="row h-100 justify-content-center align-items-center">
            <p><em>Te rugam sa introduci cuvinte chei pentru cautare.</em></p>
            <p>Pentru un rezultat cat mai aproape de dorintele tale, te rugam sa fi cat se poate de specific in termenii folositi.<br/>
            Deasemenea nu folosii semne de punctuatie. Exemple de cuvinte cheie: </p>
            <ol>
                <li>Laptop Acer</li>
                <li>masina de gaurit electrica</li>
                <li>casti wireless samsung</li>
                <li>Televizor smart lg</li>
            </ol>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
                <form action="/main-comparator" method="post">
                    <div class="row mb-3">
                        <label for="cautaKey" class="col-sm-2 col-form-label"><strong>Cuvinte Cheie</strong></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="cautaKey" placeholder="masina de spalat vase" th:name="keyword" required>
                        </div>
                    </div>
                    <p><strong>Te rugam alege site-urile unde doresti sa faci cautarea:</strong></p>
                    <div class="row mb-3">
                        <div class="form-check-inline">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <em>Site-uri disponibile: </em>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" value="true" th:name="altex" type="checkbox" id="altex">
                                <input class="form-check-input" value="false" th:name="altex" type="hidden" id="altex">
                                <label class="form-check-label" for="altex">
                                    Altex.ro
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" value="true" th:name="flanco" type="checkbox" id="flanco">
                                <input class="form-check-input" value="false" th:name="flanco" type="hidden" id="flanco">
                                <label class="form-check-label" for="flanco">
                                    Flanco.ro
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" value="true" th:name="emag" type="checkbox" id="emag">
                                <input class="form-check-input" value="false" th:name="emag" type="hidden" id="emag">
                                <label class="form-check-label" for="emag">
                                    Emag.ro
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" value="true" th:name="vivre" type="checkbox" id="vivre">
                                <input class="form-check-input" value="false" th:name="vivre" type="hidden" id="vivre">
                                <label class="form-check-label" for="vivre">
                                    Vivre.ro
                                </label>
                            </div>
                        </div>
                    </div>
                    <button id="cauta" type="submit" class="btn btn-primary" value="cauta">Cauta</button>                </form>
            </div>
        </div>
        <!--Se afiseaza dupa ce formularul este trimis
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div th:if="${keyword} != null and ${keyword} != ' '">
            <p>Tocmai am inregistrat cerea ta! Ai solicitat cautarea a: "<span th:text="${keyword}"></span>"<br />
                In urmatoarele siteuri:<br/>
                <span th:if="${altex} == true">altex.ro<br /></span>
                <span th:if="${flanco} == true">flanco.ro<br /></span>
                <span th:if="${emag} == true">emag.ro<br /></span>
                <span th:if="${vivre} == true">vivre.ro</span>
            </p>
            <div class="loader justify-content-center" id="loader">
                <img src="http://localhost:8085/media/ajax-loader.gif">
            </div>
        </div>

            Spinner to wait 5 seconds
        <div class="loader">
            <p>Am pornit motoarele!<br />Te rugam sa astepti o clipa</p>
            <p>Rezultatul cautarii va apare curand.</p>
            <div class="loading">
            </div>
        </div>

        <div class="container">
            <div class="row1">
                <div class="col1">
                    <table class="table-altex">
                        <thead>
                        <tr>
                            <th scope="col1">Altex</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each = "result: ${search_results}">
                                <th th:text="${result.search_result_name}" scope="row"></th>
                                <td th:text="${result.search_result_name}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table-flanco">
                        <thead>
                        <tr>
                            <th scope="col1">Flanco</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                        </tr>
                        </tbody>
                    </table>

        <h2>Users</h2>
        <table border="1">
            <tr>
                <th>name</th>
                <th>age</th>
            </tr>
            <tr th:each = "user: ${users}">
                <td th:text="${user.name}">vasile</td>
                <td th:text="${user.age}">45</td>
            </tr>
        </table> -->
    </main>
</div>
<!--
<script>
    setImageVisible(loader, visible)
</script>
-->
</body>
</html>