<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="UnPont Development - Product Comparator">
    <meta name="author" content="@UnPont Development 2022">
    <link rel="icon" th:href="@{/media/unpont-icon.ico}">
    <title>UnPont Development - Pagina Inexistenta</title>
</head>
<body>
<div layout:fragment="content" class="container text-center" >
    <div class="starter-template">
        <h1>Upps!!!</h1>
        <div th:inline="text">Salutare '[[${#httpServletRequest.remoteUser}]]', ne pare rau. dar pagina care incerci sa o accesezi nu exista!</div>
        <a href="/" th:href="@{/}">Inapoi la pagina de pornire</a>
    </div>
</div>
</body>
</html>