<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="UnPont Development - Product Comparator">
    <meta name="author" content="@UnPont Development 2022">
    <link rel="icon" th:href="@{/media/unpont-icon.ico}">
    <title>Termeni de utilizare</title>
</head>
<body>
<div layout:fragment="content" class="container text-center" >
    <main role="main" class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/despre}">Despre<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/termeni}">Termeni</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted"><img src="http://localhost:8085/media/Unpont-logo.png" height="90" width="300" style=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Product Comparator</h3>
        </div>
        <h1 style="text-align: center;"><span style="text-align: center; color: #0000ff;"><strong>Termeni -&nbsp;</strong></span><span style="text-align: center; color: #0000ff;"><strong>Product comparator <br />Java Based</strong></span></h1>
        <p>&nbsp;</p>
        <p style="text-align: left;">Acest program nu este destinat vanzarii sau generarii de venituri in niciun fel. El a fost dezvoltat pe baza unor librarii gratuite disponibile online.<br /><br />Acest program face parte din procedura de curs a Scolii Informale de IT si reprezinta proiectul final.<br /><br />Datele achizitionate si folosite de program sunt disponibile online in mod gratuit oricarei persoane si nu sunt/vor fi destinate generarii de venituri.<br /><br />Procedeele de "crawling", "scraping", "handling" folosite in acest program respecta "robots.txt" ale site-urilor target si nu aduc nicio modificare datelor initiale ale site-urilor sursa.</p>
        <p style="text-align: left;">&nbsp;</p>
        <p style="text-align: left;">Andrei Chirila<br /><a href="mailto:cjrocha.webs@gmail.com">cjrocha.webs@gmail.com</a><br />Jr. Java developer</p>
    </main>
</div>
</body>
</html>